*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body{
	font-size: 1.7rem;
	font-family:Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
	background:rgb(213, 239, 213);
	color:#21201e;
}

h3{
	text-align:center;
	margin-top: 20px;
	margin-bottom: 20px;
	font-size: 35px;
}

.all-products{
	display: flex;
	align-items: center;
	justify-content: center;
	flex-wrap: wrap;
}

.product{
	overflow: hidden;
	background: #ffffff;
	color: #21201e;
	text-align: center;
	width: 240px;
	height: 400px;
	padding: 2rem;
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	border-radius: 1.2rem;
	margin: 2rem;
}

.product .product-title, .product .product-price{
	font-size: 18px;
}

.product:hover img{
	transform: scale(1.1);
}

.product:hover {
	box-shadow: 5px 15px 25px #eeeeee;
}

.product img {
	height: 200px;
	margin: 1rem;
	transition: all 0.3s;
}

.product a:link, .product a:visited{
	color: #ececec;
	display: inline-block;
	text-decoration: none;
	background-color: #2c3e50;
	padding: 1.2rem 3rem;
	border-radius: 1rem;
	margin-top: 1rem;
	font-size: 14px;
	transition: all 0.2s;
}

.product a:hover{
	transform: scale(1.1);
}

.products .product {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    text-align: center; 
    display: inline-block;
    width: 25%; 
    vertical-align: top; 
}


html {
	scroll-behavior: smooth;
}

.navbar {
    display: flex;
    align-items: center;
    justify-content: center;
    position: static;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    padding: 0 20px;
    font-size: 20px;
}

.navbar img.logo {
    width: 80px;
    margin-right: auto;
}

.navbar a {
    text-decoration: none;
    color: #000;
    padding: 14px 16px;
    transition: 0.1s;
}

.navbar a:hover {
    background: rgb(96, 174, 96);
    color: white;
}
