*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Cambria, Cochin, Georgia, Times, "Times New Roman", serif;
}

html{
    scroll-behavior: smooth;
}

section{
    width: 100%;
    height: 100vh;
}

section nav{
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    right: 0;
    left: 0;
    background: white;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

section nav .logo img{
    width: 80px;
    cursor: pointer;
    margin: 7px 0;
    margin-left: 50px;
}

section nav ul{
    list-style: none;
}

section nav ul li{
    display: inline-block;
    margin: 0 15px;
}

section nav ul li a{
    text-decoration: none;
    color: #000;
    font-weight: 500;
    font-size: 17px;
    transition: 0.1s;
}

section nav ul li a::after{
    content: '';
    width: 0;
    height: 2px;
    background: #fac031;
    display: block;
    transition: 0.2s linear;
}

section nav ul li a:hover::after{
    width: 100%;
}

section nav ul li a:hover{
    color: #fac031;
}

section nav .icon{
    font-size: 25px;
    color:#000;
    margin: 0 5px;
    margin-right: 50px;
    cursor: pointer;
    transition: 0.3s;
}

section nav .icon i{
    margin: 0px 10px 0px 0px;
}

section nav .icon i:hover{
    color: #fac031;
}

section .main{
    display: flex;
    align-items: center;
    justify-content: space-around;
    position: relative;
    top: 130px;
}

section .main .text h1{
    font-size: 60px;
    position: relative;
    top: -150px;
    left: 20px;
}

section .main .text h1 strong{
    margin-left: 3px;
    color: #fac031;
    font-family: 'Alkatra';
    line-height: 22px;
    font-size: 70px;
}

section .main .img img{
    width: 700px;
    position: relative;
    left: 70px;
}

section p{
    width: 650px;
    text-align: justify;
    position: relative;
    left: 123px;
    bottom: 250px;
    line-height: 22px;
    font-size: 22px;
}

section .main_button{
    background: #fac031;
    position: relative;
    left: 123px;
    bottom: 200px;
    width: 170px;
    cursor: pointer;
    padding: 12px 25px;
    border-radius: 1rem;
}

section .main_button a{
    color: #fff;
    margin-right: 5px;
    text-decoration: none;
    font-size: 22px;
}

section .main_button i{
    color: #fff;
    transition: 0.3s;
}

section .main_button:hover i{
    transform: translateX(7px);
}

.about{
    width: 100%;
    height: 100vh;
    padding: 70px 0;
}

.about .mainn{
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.about .mainn .imgg img{
    width: 500px;
    position: relative;
    top: 60px;
}

.about .mainn .textt h1 span{
    color: #16a04b;
    margin-right: 15px;
    font-family: 'Alkatra';
}

.about .mainn .textt h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
}

.about .mainn .textt h3{
    font-size: 30px;
    margin: 0 0 50px 0;
}

.about .mainn .textt p{
    width: 650px;
    text-align: justify;
    margin-right: 30px;
    line-height: 22px;
    font-size: 22px;
}

.about .mainn .textt h2{
    width: 650px;
    text-align: center;
    margin-right: 30px;
    margin-top: 80px;
    line-height: 22px;
    font-size: 40px;
    font-family: 'Alkatra';
    color: #16a04b;
}

.products {
    width: 100%;
    padding: 70px 0;
}

.products h1{
    font-size: 55px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 30px;
    margin-top: 30px ;
    position: relative;
}

.products h1 span{
    color: #fac031;
    margin-left: 10px;
    font-family: 'Alkatra';
}

.container1 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f7dd9d;
    font-size: 30px;
    border-radius: 1rem;
    margin: 0px 150px 30px 150px;
    height: 250px;
}


.text1 {
    flex-grow: 1;
}
.text1 h1 {
    color: #000;
    font-weight: bold;
    font-size: 40px;
    font-family: 'Alkatra';
    margin-left: 80px;
}
.text1 p {
    color: #333;
    font-size: 20px;
    margin: 10px 0px 10px 80px;
}
  
.text1 .cta-button {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 80px;
    background-color: #FFA500;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.text1 .cta-button:hover {
    background-color: #d6ab5c;
}

.image-section {
    flex-basis: 230px; 
    text-align: right;
    margin-right: 100px;
}
.image-section img {
    max-width: 100%;
    height: auto;
}

.container2 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #f7b59d;
    font-size: 30px;
    border-radius: 1rem;
    margin: 0px 150px 30px 150px;
    height: 250px;
}

.text1 .cta-button2 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 80px;
    background-color: #ff1732;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.text1 .cta-button2:hover {
    background-color: #ff7a62;
}

.image-section2 {
    flex-basis: 230px; 
    text-align: right;
    margin-right: 100px;
}
.image-section2 img {
    max-width: 100%;
    height: auto;
}

.container3 {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 20px;
    background-color: #bcc595;
    font-size: 30px;
    border-radius: 1rem;
    margin: 0px 150px 30px 150px;
    height: 250px;
}

.text1 .cta-button3 {
    display: inline-block;
    padding: 10px 20px;
    margin-top: 10px;
    margin-left: 80px;
    background-color: #4e6e58;
    color: white;
    text-align: center;
    text-decoration: none;
    font-weight: bold;
    border-radius: 5px;
}

.text1 .cta-button3:hover {
    background-color: #566e3d;
}

.image-section3 {
    flex-basis: 200px; 
    text-align: right;
    margin-right: 100px;
}
.image-section3 img {
    max-width: 100%;
    height: auto;
}

.services {
    width: 100%;
    padding: 70px 0;
}

.services h1{
    font-size: 55px;
    position: relative;
    bottom: 50px;
    text-align: center;
    margin-top: 70px;
}

.services h1 span{
    color: #5467d3;
    margin-left: 10px;
    font-family: 'Alkatra';
}

.card-container {
    display: flex;
    justify-content: center;
    margin: 0px 100px 0px 100px;
    font-size: large;
  }
  .card {
    flex: 0 0 30%; /* Equal width, no grow, no shrink */
    margin: 10px;
    border: 1px solid #ccc;
    border-radius: 10px;
    overflow: hidden;
    background-color: #fff;
    box-shadow: 0 4px 8px rgba(0,0,0,0.2);
    transition: 0.3s;
  }
  .card:hover {
    box-shadow: 0 8px 16px rgba(0,0,0,0.5);
  }
  .card img {
    width: 100%;
    height: auto;
  }
  .card-content {
    padding: 15px;
    text-align: center;
  }
  .card-title {
    font-size: 1.2em;
    margin: 0;
    color: #333;
  }
  .card-text {
    color: #777;
    font-size: 0.9em;
  }
  .read-more-button {
    text-decoration: none;
    color: white;
    background-color: #444cbe; 
    display: inline-block;
    padding: 10px 20px;
    margin-top: 15px;
    border-radius: 5px;
    transition: background-color 0.3s ease;
  }
  .read-more-button:hover {
    background-color: #666cc1; 
  }


.rate p{
    justify-content: center;
    text-align: center;
    font-size: 33px;
    margin-top: 40px;
}

.rating {
    display: flex;
    flex-direction: row-reverse;
    font-size: 24px;
    justify-content: center;
    margin: 50px;
}

.rating input {
    display: none;
}

.rating label {
    cursor: pointer;
    width: 40px;
    height: 40px;
    background-color: #ddd;
    margin: 0 4px;
    border-radius: 50%;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: background-color 0.25s;
}

.rating input:checked ~ label {
    background-color: #fac031;
}

.rating label:hover {
    background-color: #fac031;
}  







    
